<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
    <body>
        <h2>Welcome to quoting Dojo</h2>
        <form action='quotes' method='post'>
            <p>Your Name:<input type='text' name='name'></p>
            <p>Your Quote:<input type='text' name='quote'></p>
            <input type='submit' value='Add My Quote'>
        </form>
        <form action='quotes' method='get'>
            <input type='submit' value='Skip To quotes'>
        </form>
    
    </body>
</html>