<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Here are the Awesome Quotes!</h2>
    <% for (var index in quotelist){ %>
        <%=`"${quotelist[index].quote}"` %>
        <p><%=`${quotelist[index].name} at ${quotelist[index].created_at.toLocaleTimeString('en-us',{hour: '2-digit',minute:'2-digit', hour12: 'true'})}
             ${quotelist[index].created_at.toLocaleDateString('en-US',{year: 'numeric', month: 'long', day: 'numeric' })}`%></p>
        <hr>
    <% } %>

</body>
</html>